@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');

:root {
    --olive-green: #8DA47E;
    --opal: #A9C8C0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: 'Rajdhani', sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px;
    text-transform: capitalize;
    background-color: #202124;
    color: #ccc;
    font-weight: 500;
    letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

h4 {
    font-size: 1.1rem;
    line-height: 1.5;
}

.vertical-line {
    border-right: 5px solid var(--olive-green);
    height: inherit;
}

.title {
    padding: 1.5rem;
}

section {
    width: 80%;
    height: auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    border: 0.15rem solid #666;
    border-radius: 3px;
}

.date-record, .budget-section {
    padding: 1rem;
}

button {
    cursor: pointer;
    padding: 0.3rem;
    color: #888;
    text-transform: uppercase;
    border: 0.1px solid var(--opal);
    background-color: inherit;
    font-family: inherit;
    font-weight: bold;
    border-radius: 5px;
}

.submit-btn, .edit-budget {
    width: 25%;
}

button:hover {
    border: 0.1px solid #ccc;
    background-color: var(--opal);
    color: #222;
}

.budget-section {
    margin: 1.5rem auto;
}

.main-section {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main-section p {
    margin-bottom: 1rem;
}

.form-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0.5rem;
}

input {
    border: 0.1px solid var(--opal);
    background-color: inherit;
    font-family: inherit;
    border-radius: 5px;
    padding: 0.3rem;
    color: inherit
}

input::placeholder {
    color: #ccc;
    font-weight: 400;
    opacity: 0.5;
}

#expense {
    width: 50%;
}

#amount {
    width: 20%;
}


.expense-container {
    width: 85%;
    height: auto;
    margin: 1.5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.expense-item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.expense-item p {
    width: 50%;
    padding: 1rem 0.75rem;
}

.expense-item .amount {
    width: 30%;
}

.expense-item button {
    padding: 5px 10px;
}

@media(min-width: 475px) {
    header {
        padding: 2rem;
        font-size: 1.5rem;
    }
    main {
        width: 550px;
        margin: 0 auto;
    }

    section {
        border-radius: 0.5rem;
    }

    .main-section {
        font-size: 1.5rem;
        display: grid;
        grid-template-columns: 1fr;
    }

    input::placeholder {
        font-size: 1rem;
        padding: 5px;
    }
}





